<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Game Summary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    
    <div class="top" *ngFor="let item of event">
      <p class="stat_name" style="color: rgb(74, 103, 247); text-align: left;">Score</p>
      <ion-item lines="none">

        <!-- Home Team -->
        <ion-label>
          <h2 id="left" style="color: white;">{{item.strHomeTeam}}</h2>
        </ion-label>

        <!-- Score - Home : Away -->
        <ion-label>
          <h2 id="center" style="color: rgb(74, 103, 247); font-size: 32px; text-align: center;">{{item.intHomeScore}} : {{item.intAwayScore}}</h2>
        </ion-label>

        <!-- Away Team -->
        <ion-label>
          <h2 id="right" style="color: white;">{{item.strAwayTeam}}</h2>
        </ion-label>
      </ion-item>
      <p class="status">{{item.strStatus}}</p>
      <p class="status">@ {{item.strVenue}}</p>
      <ion-datetime id="dynamicDisabled" displayFormat="DDD, MMM DD" readonly="true" value="{{item.dateEvent}}"></ion-datetime>
    </div>
    

    
    <!-- Match Stats -->
    <!-- Match Stats -->
    <div style="padding: 0px 16px 16px;">
      <ion-list lines="none" *ngFor="let item of stats">

        <p class="stat_name">{{item.strStat}}</p>
        <div class="matches">
          <ion-item class="stats">
            <!-- Team -->
            <ion-label slot="start">
              <h2 id="left">{{item.intHome}}</h2>
            </ion-label>
  
            <ion-label>
              <h2 id="center">|</h2>
            </ion-label>
  
            <ion-label slot="end">
              <h2 id="right">{{item.intAway}}</h2>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </div>

  </div>

</ion-content>
