<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title style="margin-left: 16px;">
      Last Fixtures
    </ion-title>
  </ion-toolbar>

  <!-- Segment - Table / Teams -->
  <!-- Segment - Table / Teams -->
  <ion-segment mode="md" color="primary" (ionChange)="segmentChanged($event)" [(ngModel)]="option">
    <ion-segment-button value="1">
      <ion-label>Table</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Fixtures</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- Segment - Table / Teams -->
  <!-- Segment - Table / Teams -->

</ion-header>

<ion-content [fullscreen]="false">

  <!-- Table and All Teams Container-->
  <div class="container" [ngSwitch]="option">

    <!-- Crescent Spinner -->
    <!-- Crescent Spinner -->
    <div class="spinner">
      <ion-spinner name="crescent" duration="1000" *ngIf="show"></ion-spinner>
    </div>
    <!-- Crescent Spinner -->
    <!-- Crescent Spinner -->


    <!-- Header -->
    <!-- Header -->
    <div class="header" *ngFor="let item of league | slice:0:1">
      <img *ngIf="!show" src="{{item.strBadge}}" alt="badge">
      <h2 *ngIf="!show" class="name">{{item.strLeague}}</h2>
    </div>
    <!-- Header -->
    <!-- Header -->


    <!-- Table -->
    <!-- Table -->
    <ion-list *ngSwitchCase="'1'" lines="none">
        
          <!-- Position -->
          <ion-note slot="start">
            <p class="position">{{i + 18}}</p>
          </ion-note>
  
          <!-- Team Name -->
          <ion-label>
            <p class="name" style="margin-left: 16px; text-align: left;">{{item.name}}</p>
          </ion-label>
  
          <!-- Played - Goals For:Goals Against, Points -->
          <ion-note slot="end">
            <p class="data">{{item.played}} - {{item.goalsfor}}:{{item.goalsagainst}} - {{item.total}}</p>
          </ion-note>
        </ion-item>
        <!-- Relagation Zone -->
        <!-- Relagation Zone -->
      </div>
    </ion-list>
    <!-- Table -->
    <!-- Table -->


    <!-- All Teams -->
    <!-- All Teams -->
    <ion-list *ngSwitchCase="'2'" lines="none">
      <ion-item class="ion-no-padding" (click)="openTeam(item)" *ngFor="let item of allTeams">

        <!-- Team Badge -->
        <ion-thumbnail slot="start" style="height: 30px; width: 30px;">
          <img src="{{item.strTeamBadge}}">
        </ion-thumbnail>

        <!-- Team Name -->
        <ion-label>
          <p class="name">{{item.strTeam}}</p>
        </ion-label>

      </ion-item>
    </ion-list>
    <!-- All Teams -->
    <!-- All Teams -->

  </div>
</ion-content>