* {
  margin: 0;
  padding: 0;
}

// Header
ion-header {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 3px solid #f0f2f4;
}

// Header title
ion-title {
  color: #0051ff;
  font-size: 20px;
  font-weight: bold;
}

// Searchbar
ion-searchbar {
  --background: #f0f2f4;
  --box-shadow: none;
  --padding-start: 10px;
  --padding-end: 0px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --border-radius: 7px;
  margin-bottom: 8px;
}

ion-list {
  background-color: white;
  padding: 0px 16px 16px;
}

p.header {
  font-size: 14px;
  font-weight: 600;
  margin: 32px auto 16px;
}

p.header:nth-of-type(2) {
  margin: 32px auto 0px;
}

// Top news
ion-card {
  background-color: white;
  border-radius: 7px;
  box-shadow: none;
  cursor: pointer;
  margin-bottom: 16px;
}

ion-card img {
  border-radius: 7px;
}

ion-thumbnail img {
  border-radius: 3.5px;
  height: 100%;
  width: 100%;
}

ion-card-header {
  background-color: white;
  padding: 4px;
}

ion-card-subtitle,
p.source {
  color: rgb(178, 178, 178);
  font-size: 11px;
  font-weight: 600;
  margin: 0px;
  text-transform: none;
}

ion-card-title,
ion-textarea {
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

// Main list
ion-item {
  --background: white;
  --padding-start: 10px;
  --padding-end: 0px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  border: 3px solid #f0f2f4;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 16px;
}

ion-textarea {
  max-height: 40px;
  overflow: hidden;
}
