<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title style="margin-left: 16px;">
      Footy
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-input placeholder="Search news" mode="md" (ionChange)="searchArticle()" [(ngModel)]="searchTerm"></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-list lines="none">

    <!-- Top News Section -->
    <!-- Top News Section -->
    <p class="header ion-margin-start">Top News 🔥</p>

    <!-- Top news card -->
    <ion-card *ngFor="let item of articles | slice:0:3" (click)="openArticle(item)">
      <img src="{{item.urlToImage}}" />
      <ion-card-header>
        <!-- <ion-card-subtitle>{{item.source.name}}</ion-card-subtitle> -->
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Main news articles -->
    <ion-item class="ion-no-padding" *ngFor="let item of articles | slice:3:25" (click)="openArticle(item)">
      <ion-thumbnail style="height: 100px;">
        <img src="{{item.urlToImage}}">
      </ion-thumbnail>
      <ion-label>
        <ion-textarea>{{item.title}}</ion-textarea>
        <!-- <p class="source">{{item.source.name}}</p> -->
      </ion-label>
    </ion-item>
    <!-- Top News Section -->
    <!-- Top News Section -->


    <!-- Transfer News Section -->
    <!-- Transfer News Section -->
    <p class="header ion-margin-start">Latest Transfer News 💰</p>

    <!-- Top news card -->
    <ion-card *ngFor="let item of transfers | slice:0:3" (click)="openArticle(item)">
      <img src="{{item.urlToImage}}" />
      <ion-card-header>
        <!-- <ion-card-subtitle>{{item.source.name}}</ion-card-subtitle> -->
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Main news articles -->
    <ion-item class="ion-no-padding" *ngFor="let item of transfers | slice:3:25" (click)="openArticle(item)">
      <ion-thumbnail>
        <img src="{{item.urlToImage}}">
      </ion-thumbnail>
      <ion-label>
        <ion-textarea>{{item.title}}</ion-textarea>
        <!-- <p class="source">{{item.source.name}}</p> -->
      </ion-label>
    </ion-item>
    <!-- Transfer News Section -->
    <!-- Transfer News Section -->


  </ion-list>

</ion-content>
