* {
  margin: 0;
  padding: 0;
}

// Header
ion-header {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

// Header title
ion-title {
  color: #212121;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

// Segment
ion-segment {
  margin: 0px auto;
  width: 343px;
}

ion-segment-button ion-label {
  color: #212121;
  font-size: 12px;
  font-weight: 600;
  text-transform: none;
}

.container {
  padding: 16px;
}

// Spinner
.spinner {
  margin: 20px auto;
  text-align: center;
}

// League header
.header {
  margin: 0px auto;
  text-align: center;
}

// Badge
.header img {
  height: 50px;
  width: 50px;
}

// Name
.header h2.name {
  font-size: 14px;
  font-weight: 500;
  margin: 16px 0px 24px;
}

// Table
// Table header
p.cl {
  color: rgb(240, 140, 2);
  font-size: 12px;
  font-weight: 600;
  margin: 24px 0px 10px;
  text-align: left;
  text-transform: uppercase;
}

p.cl:nth-of-type(1) {
  color: rgb(50, 80, 230);
  margin: 0px 0px 10px;
}

p.cl:nth-of-type(3) {
  color: rgb(242, 60, 81);
}

// Position
p.position,
p.data {
  color: #a4a4a4;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
}

// All Teams
ion-item {
  --background: white;
  --padding-start: 16px;
  --padding-end: 8px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  border-radius: 7px;
  border: 3px solid #efefef;
  margin-top: 12px;
  cursor: pointer;
}

ion-item.team:nth-of-type(5) {
  margin-bottom: 24px;
}

p.name {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}
