* {
  margin: 0;
  padding: 0;
}

// Header
ion-header {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.02);
}

// Header title
ion-title {
  color: #0051ff;
  font-size: 20px;
  font-weight: bold;
}

// Segment
ion-segment-button ion-label {
  color: black;
  font-size: 12px;
  font-weight: 600;
  text-transform: none;
}

.container {
  padding: 16px;
}

// All Teams
ion-item.team {
  --background: #white;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  border: 5px solid #f0f2f4;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 16px;
}

p.name {
  color: black;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}
