<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="header" *ngFor="let item of team | slice:0:1">
    <img src="{{item.strTeamBadge}}" alt="badge">
    <h2 class="name">{{item.strTeam}}</h2>

    <!-- Segment - News / Matches -->
    <!-- Segment - News / Matches -->
    <ion-segment mode="md" color="primary" (ionChange)="segmentChanged($event)" value="news" [(ngModel)]="option">
      <ion-segment-button value="1">
        <ion-label>About</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>News</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>Matches</ion-label>
      </ion-segment-button>
    </ion-segment>
    <!-- Segment - News / Matches -->
    <!-- Segment - News / Matches -->
  </div>

  <!-- Team News and Games -->
  <div class="container" [ngSwitch]="option">

    <!-- Crescent Spinner -->
    <!-- Crescent Spinner -->
    <div class="spinner">
      <ion-spinner name="crescent" duration="1000" *ngIf="show"></ion-spinner>
    </div>
    <!-- Crescent Spinner -->
    <!-- Crescent Spinner -->


    <!-- About -->
    <!-- About -->
    <div class="about" *ngIf="!show">
      <div *ngSwitchCase="'1'">
        <p class="header"  *ngFor="let item of team">Founded {{item.intFormedYear}}</p>
        <ion-textarea  *ngFor="let item of team">{{item.strDescriptionEN}}</ion-textarea>
      </div>
    </div>
    <!-- About -->
    <!-- About -->


    <!-- News -->
    <!-- News -->
    <div *ngIf="!show">
      <ion-list *ngSwitchCase="'2'" lines="none">
        <ion-card *ngFor="let item of articles" (click)="openArticle(item)">

          <!-- Article Thumbnail -->
          <img src="{{item.urlToImage}}" />

          <ion-card-header>

            <!-- Article Source -->
            <ion-card-subtitle>{{item.source.name}}</ion-card-subtitle>

            <!-- Article Title -->
            <ion-card-title>{{item.title}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-list>
    </div>
    <!-- News -->
    <!-- News -->


    <!-- Games -->
    <!-- Games -->
    <div *ngIf="!show">
      <ion-list *ngSwitchCase="'3'" lines="none">

        <!-- Previous -->
        <!-- Previous -->
        <p class="header">Previous Games</p>
        <ion-item class="team ion-no-padding" *ngFor="let item of last">
          <!-- Team -->
          <ion-label slot="start">
            <h2 id="name">{{item.strHomeTeam}}</h2>
            <h2 id="name">{{item.strAwayTeam}}</h2>
          </ion-label>
  
          <!-- Score -->
          <ion-note>
            <p id="score">{{item.intHomeScore}}</p>
            <p id="score">{{item.intAwayScore}}</p>
          </ion-note>
  
          <!-- Date -->
          <ion-note slot="end">
            <p id="status">{{item.strStatus}}</p>
            <ion-datetime id="dynamicDisabled" displayFormat="DDD, MMM DD" readonly="true" value="{{item.dateEvent}}"></ion-datetime>
          </ion-note>
        </ion-item>
        <!-- Previous -->
        <!-- Previous -->
  
  
        <!-- Upcoming -->
        <!-- Upcoming -->
        <div class="upcoming" style="margin-top: 32px;">
          <p class="header">Upcoming Games</p>
          <ion-item class="team ion-no-padding" *ngFor="let item of next">
            <!-- Team -->
            <ion-label slot="start">
              <h2 id="name">{{item.strHomeTeam}}</h2>
              <h2 id="name">{{item.strAwayTeam}}</h2>
            </ion-label>
    
            <!-- Score -->
            <ion-note>
              <p id="score">{{item.intHomeScore}}</p>
              <p id="score">{{item.intHomeScore}}</p>
            </ion-note>
    
            <!-- Date -->
            <ion-note slot="end">
              <p id="status">{{item.strStatus}}</p>
              <ion-datetime id="dynamicDisabled" displayFormat="DDD, MMM DD" readonly="true" value="{{item.dateEvent}}"></ion-datetime>
            </ion-note>
          </ion-item>
        </div>
        <!-- Upcoming -->
        <!-- Upcoming -->


       </ion-list>
    </div>
    <!-- Games -->
    <!-- Games -->


  </div>
</ion-content>
