* {
  margin: 0;
  padding: 0;
}

// Header
ion-header {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

// Header title
ion-title {
  color: #212121;
  font-size: 14px;
  font-weight: 600;
}

// Team badge and name
.header {
  text-align: center;
  margin: 24px 0px 0px;
}

// Badge
.header img {
  height: 50px;
  width: 50px;
}

// Name
.header h2.name {
  font-size: 14px;
  font-weight: 500;
  margin: 16px 0px 24px;
}

// Segment
ion-segment {
  margin: 0px auto;
  width: 343px;
}

ion-segment-button ion-label {
  color: #212121;
  font-size: 12px;
  font-weight: 600;
  text-transform: none;
}

.about {
  padding: 16px;
}

ion-list {
  padding: 0px 16px 16px;
}

ion-textarea {
  font-weight: 500;
  margin-top: 24px;
  line-height: 24px;
}

// Ion card
ion-card {
  background-color: white;
  border-radius: 7px;
  box-shadow: none;
  cursor: pointer;
  margin-top: 24px;
}

ion-card img {
  border-radius: 7px;
}

ion-card-header {
  background-color: white;
  padding: 4px;
}

// Article source
ion-card-subtitle {
  color: #a0a0a0;
  font-size: 10px;
  font-weight: 600;
  margin: 4px 0px;
  text-transform: none;
}

// Article title
ion-card-title {
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

// Matches
p.header {
  color: rgb(50, 80, 230);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
  text-transform: uppercase;
}

ion-item {
  --background: white;
  --padding-start: 16px;
  --padding-end: 8px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  border-radius: 7px;
  border: 3px solid #efefef;
  margin-top: 12px;
  cursor: pointer;
}

// Team name
h2#name {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

h2#name:nth-of-type(1) {
  margin-bottom: 8px;
}

// Match score
p#score {
  color: rgb(50, 80, 230);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

p#score:nth-of-type(1) {
  margin-bottom: 10px;
}

// Match date
p#status,
ion-datetime {
  color: #c4c4c4;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

ion-datetime {
  color: #a200ff;
  font-size: 11px;
  margin-top: 8px;
}
