<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="header" *ngFor="let item of team | slice:0:1">
    <img src="{{item.strTeamBadge}}" alt="badge">
    <h2 class="name">{{item.strTeam}}</h2>

    <!-- Segment -->
    <ion-segment mode="md" color="primary" (ionChange)="segmentChanged($event)" value="news" [(ngModel)]="option">
      <ion-segment-button value="1">
        <ion-label>News</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Matches</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Team News and Games -->
  <div class="container" [ngSwitch]="option">

    <!-- News -->
    <ion-list *ngSwitchCase="'1'" lines="none">
      <ion-card *ngFor="let item of articles" (click)="openArticle(item)">
        <img src="{{item.urlToImage}}" />
        <ion-card-header>
          <ion-card-subtitle>{{item.source.name}}</ion-card-subtitle>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>
     </ion-list>

    <!-- Games -->
    <ion-list *ngSwitchCase="'2'" lines="none">
      <!-- Previous -->
      <!-- Previous -->
      <p class="header">Previous Games</p>
      <ion-item class="team ion-no-padding" (click)="openTeam(item)" *ngFor="let item of last">
        <!-- Team -->
        <ion-label slot="start">
          <h2 id="name">{{item.strHomeTeam}}</h2>
          <h2 id="name">{{item.strAwayTeam}}</h2>
        </ion-label>

        <!-- Score -->
        <ion-note>
          <p id="score">{{item.intHomeScore}}</p>
          <p id="score">{{item.intHomeScore}}</p>
        </ion-note>

        <!-- Date -->
        <ion-note slot="end">
          <p id="status">{{item.strStatus}}</p>
        </ion-note>
      </ion-item>


      <!-- Upcoming -->
      <!-- Upcoming -->
      <p class="header">Upcoming Games</p>
      <ion-item class="team ion-no-padding" (click)="openTeam(item)" *ngFor="let item of next">
        <!-- Team -->
        <ion-label slot="start">
          <h2 id="name">{{item.strHomeTeam}}</h2>
          <h2 id="name">{{item.strAwayTeam}}</h2>
        </ion-label>

        <!-- Score -->
        <ion-note>
          <p id="score">{{item.intHomeScore}}</p>
          <p id="score">{{item.intHomeScore}}</p>
        </ion-note>

        <!-- Date -->
        <ion-note slot="end">
          <p id="status">{{item.strStatus}}</p>
          <ion-datetime id="dynamicDisabled" displayFormat="MMM DD" disabled value="{{item.dateEvent}}"></ion-datetime>
        </ion-note>
      </ion-item>
     </ion-list>
   </div>

</ion-content>
